body, h1, h2 { 
  font-family: 'Montserrat', sans-serif; 
}


h1 {
  text-align: center;
  border: auto;
  border: 8px dotted #bb1717;
  border-radius: 5px;
  width: 500px;
  margin: auto;
  font-size: 50px;
}

